* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

body {
    background: url(./img/bg.webp) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav, #content {
    background-color: rgba(0, 0, 0, 0.5);
}

nav {
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 16px;
}

nav button {
    padding: 2px 8px;
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 100px 100px 100px black;

    &:hover {
        cursor: pointer;
        border-bottom-color: #6F00FF;
    }

    &:active {
        filter: brightness(0.8);
    }
}

#content {
    flex: 1;
}